<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/about.css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
    <title>About</title>
</head>

<body>

    <div class="scroller">
        
        <!-- landing -->
        <canvas id="canvasArea"></canvas>
        <section class="landing">
            <!-- <h1>Auto Class Attender</h1> -->
            <p class="bigscreen">ONLINECLASSESS!!!<span style="color: #3F72AF;">9AM</span>9AM<span style="color: #222831; font-weight: bold; letter-spacing: normal; z-index: 100;">Online <span style="color: black;">Class</span> Attender</span>!!!CLASS TOMORROWW!!!ONLINECLASSESS!!!<span style="color: #3F72AF;">9AM</span>!!!CLASS TOMORROWW!!!!ONLINE CLASSESS!!!</p>
            <p class="smallscreen"><span style="color: #222831; font-weight: bold; letter-spacing: normal; z-index: 100;">Online <span style="color: black;">Class</span> Attender</span>ONLINECLASSESS!!!<span style="color: #3F72AF;">9AM</span>9AM!!!CLASS TOMORROWW!!!ONLINECLASSESS!!!<span style="color: #3F72AF;">9AM</span>!!!CLASS TOMORROWW!!!!ONLINE CLASSESS!!!</p>
        </section>

        <section class="info">
            <span>
                <img src="/img/gp.jpg" alt="Some image"> <br>
                <p>Attends all your classes</p>
            </span>
    
            <span>
                <p>Let's you know when you are being called</p>
                <img src="/img/gp.jpg" alt="Some image"> <br>
            </span>
    
            <span>
                <img src="/img/gp.jpg" alt="Some image"> <br>
                <p>Notify you on the go!</p>
            </span>
    
            <span>
                <p>Notify you on the go!</p>
                <img src="/img/gp.jpg" alt="Some image"> <br>
            </span>
    
            <span>
                <img src="/img/gp.jpg" alt="Some image"> <br>
                <p>Notify you on the go!</p>
            </span>
    
            <span>
                <p>Notify you on the go!</p>
                <img src="/img/gp.jpg" alt="Some image"> <br>
            </span>
    
            <span>
                <img src="/img/gp.jpg" alt="Some image"> <br>
                <p>Notify you on the go!</p>
            </span>
    
            <span>
                <p>Notify you on the go!</p>
                <img src="/img/gp.jpg" alt="Some image"> <br>
            </span>
        
        </section>
    
        <section class="empty" style="max-width: 50vh;"></section>

        <section class="setup">
            
            <span id="setup-info">
                For making this system of a blessing available to all and free of cost at that, 
                without cutting any corner, <br>
                We had to make you guys deploy the bot rather than us deploying it for you! <br> <br>
    
                This works on two fronts, <br>
                The users and The moderators..
            </span>
    
            <div class="moderators">
                <h1>.moderators</h1>
                <span class="content">
                    You have to <a href="#">Register</a> yourself to be a moderator, Upon which you will be given
                    a username and password with which you would be able to <a href="#">Login</a>
                    into the system!
    
                    The job of moderators would be to login and update the class timetable into the database.
                    And that is all.
    
                </span>
            </div>
    
            <div class="users">
                <h1>users.</h1>
    
                <span class="content">
                    The database updated by the moderators would then by pulled in by the bots (deployed by the users)
                    <span class="user-setup">
                        <h3>How to deploy the bot?</h3>
                        <ol >
                            <li>copy this link</li>
                            <li>open heroku</li>
                            <li>then do this</li>
                            <li>then do This</li>
                            <li>after that so this</li>
                            <li>and so do This</li>
                            <li>finally di this</li>  
                        </ol>
                    </span>    
                </span>
            </div>
        </section>

        <section class="footer" style="max-height: 40vh; height: 40vh; min-height: 40vh;">
            This is a footer!
        </section>

    </div>

    

    <script src='https://storage.ko-fi.com/cdn/scripts/overlay-widget.js'></script>
<script>
  kofiWidgetOverlay.draw('raavann', {
    'type': 'floating-chat',
    'floating-chat.donateButton.text': 'Donate',
    'floating-chat.donateButton.background-color': '#ff5f5f',
    'floating-chat.donateButton.text-color': '#fff'
  });
</script>





    <script src="/js/about.js"></script>
    <!-- <script src="./assets/js/bubble.js"></script> -->
</html>