<!-- include header -->
<%- include('include/_header') %> 
<!-- /include header -->

        <!-- Main site -->

        <main id="site-main">
            <div class="container">
                <div class="box-nav d-flex justify-between">
                    <a href="/add" >
                        <span>New Entry <i class="fas fa-kiwi-bird"></i></span>
                    </a>

                    <a href="/auth/logout" class="logout" >
                        <span >Logout<i class="fas fa-user-logout"></i></span>
                    </a>
                </div>
    
                <!-- form handling -->
                <form action="/" method="post">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th>Sr.</th>
                                <th>Subject</th>
                                <th>Start Time</th>
                                <th>End Time</th>
                                <th>Link</th>
                                <th>Actions</th> 
                            </tr>
                        </thead>
                        <tbody>
                            <%- include('include/_show') %> 
                        </tbody>
                    </table>
                </form>
            </div>
        </main>
    
    <!-- /Main Site -->


<!-- include footer -->
    <%- include('include/_footer') %> 
<!-- /include footer -->