<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Auto Attendance</title>
    
</head>
<body>
    <main>
        <canvas id="canvasArea" ></canvas>

        <form class="form" action="/auth/login" method="post">
    
            <h1>Sign in</h1>
    
            <div class ="field" id="email-field">
                <label for="email"><i class="fas fa-user"></i></label>
                <input type="email" name="email" id="email" placeholder="Email" required>
            </div>
    
            <div class ="field" id="password-field">
                <label for="password"><i class="fas fa-lock"></i></label>
                <input type="password" name="password" id="password" placeholder="Password" required>
            </div>
    
            <button id="login-field" type="submit">Sign in</button>
    
            <p>
                or?<br>
                <a href="/about">Know more</a> about us! <br>
                <a id="stop" style="font-size: 8px ;">Stop animation</a>
            </p>
    
        </form>
        <script src="/js/login.js"></script>
    </main>
</body>
</html>