<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/login.css">
    <title>Auto Attendance</title>
    
</head>
<body>
    <form class="form" action="/auth/login" method="post">
        <h1>Login</h1>
        <div>
            <label for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="Enter Email/Username" required>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="Enter Password" required>
        </div>
        <button type="submit">Login</button>

        <%if (msg) { %>
            <p><%= msg %></p> 
        <% } %>

        <a href="/info">Info  page</a>

    </form>
    
</body>
</html>