<!-- form handling -->
<form method="post" id="add">
    <div class="new">

        <!-- <div class="form-group">
            <label for="Name" class="text-light">Name</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="name" value="" placeholder="Mark stoke" required>
        </div> -->

        <div class="form-group">
            <label for="subject" class="text-light">Subject</label>
            <input type="text" name="subject" value="" placeholder="Who cares anyway// bruuh" required>
        </div>
        
        <div class="form-group">
            <label for="starttime" class="text-light">Start time</label>
            <input type="datetime-local" name="starttime" value="" required >
        </div>

        <div class="form-group">
            <label for="endtime" class="text-light">End time</label>
            <input type="datetime-local" name="endtime" value="" required>
        </div>

        <div class="form-group">
            <label for="Link" class="text-light">Link</label>
            <input type="text" name="link" value="" required>
        </div>
        
        <div class="form-group">
            <button type="submit" class="btn text-dark add">Submit</button>
        </div>

    </div>
</form>