@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    margin: 0;
    background-color: black;
}
  
canvas{
    position: fixed;
    margin: auto;
    z-index: -1;
}

a:hover {
    cursor: pointer;
    background-color: #EEEEEE;
}

.header {
    text-align: center;
    padding: 40px;
    padding-bottom: 50px;
    font-weight: 700;
}

.logout:hover {
    background-color: #FF5151;
    color: white;
}

a {
    text-decoration: none;
    color: #161E54;
    padding: 8px;
    border-radius: 10px;
}

.container{
    max-width: 1024px;
    margin: auto;
}

.nav-brand{
    font-size: 1.5em;
    font-weight: bold;
}

.d-flex{
    display: flex;
    flex-wrap: wrap;
}

.justify-between{
    justify-content: space-between;
}

.text-center{
    text-align: center;
}

.text-dark{
    color: var(--dark);
}

.inline{
    display: inline-block;
}

.text-light{
    color: var(--light);
}

#site-main .container form{
    margin: 2em 0;
}

table{
    border-spacing: 0px;
    width: 100%;
}

.table td, .table th{
    padding: .75em;
    vertical-align: top;
    text-align: center;
}

table { border-collapse: separate; }
tr td:first-child { border-top-left-radius: 15px; border-bottom-left-radius: 15px; }
tr td:last-child { border-top-right-radius: 15px; border-bottom-right-radius: 15px; }



.table td > a.btn{
    padding: .2em .5em;
    font-size: 1.1em;
    margin: 0 .2em;
}
.table tr:hover{
    background-color:#EEEEEE ;
}

.table .thead-dark th{
    color: #fff;
    background-color: #161E54 ;
}

.table .thead-dark th:first-child{ border-top-left-radius: 15px; border-bottom-left-radius: 15px; }
.table .thead-dark th:last-child{ border-top-right-radius: 15px; border-bottom-right-radius: 15px; }


@media only screen and (max-width: 1024px){
    table, thead, tbody, th, td, tr{
        display: block;
    }

    thead tr{
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr { border: 1px solid var(--border);}

    td{
        border: none;
        position: relative;
    }

}

 /* add & update */
 .form-title{
    margin-top: 2em;
}

.form-title > h2{
    padding: .5em 0;
}

.new{
    max-width: 786px;
    margin: auto;
}

#update .form-group,
#add .form-group{
    margin: .4em 0;
    font-size: 17px;
}

#update .form-group input[type="text"],
#add .form-group input[type="text"]{
    width: 100%;
    padding: .6em 1em;
    margin: .5em 0;
    border: none;
    font-size: 1em;
    border-radius: .2em;
}

#update .form-group .btn,
#add .form-group .btn{
    width: 100%;
    padding: .7em 1em;
    font-size: 1em;
    cursor: pointer;
    border-radius: .2em;
    margin: .5em 0;
    border: none;
    background-color: transparent;
    margin-bottom: 300px;
}


#update .form-group .btn:hover,
#add .form-group .btn:hover{
    background-color: #ffffff;
} 